@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css');
@import url('../public/bomach/css/styles.css');


iframe {
    width: 460px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    width: 100%;
    min-height: 450px;
    border:none;
  }

a.buttonx {
  /* font-size: 10px; */
  display:inline-block;
  margin:1.7px;
}

div.div-button-container {
  display: inline-flex;
}

div.div-button-container a, button {
  margin-right:1.8px;
  vertical-align: top;
  font-size: 12px;
}



button#contentreload {
  border-radius: 30px;
  box-shadow: 0 1.2px 0 #000;
  margin: 15px 0px;
  background-color: rgb(132, 151, 168);
  font-weight: 400;
  color:#000;
}



@media print {

  div#remita_printer_area {
    width: 100% auto;
    min-height: 50px;
  }
  
  div#remita_printer_area  div.col-md-6 {
    width: 50%;
    display: inline-flex;
  }


  button.remita_print_btn {
      display: none;
  }
}